@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ro {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;

}

.nav-logo {
    display: flex;
    align-items: center;


}

ul {
    margin-left: 45px;
    display: flex;
    gap: 29px;
    justify-content: space-between;
    align-items: center;

}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #9E9AA8;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    text-align: left;

}

.nav-btn {
    width: 105px;
    height: 40px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 20px;
    border: none;
    background: #2BD0D0;


}

ul li a:hover {
    color: black;
}

.con {
    width: 80%;
    margin: 0 auto;
}

.row1 {
    display: flex;
    gap: 102px;
    justify-content: space-between;
    margin-top: 78px;
    margin-bottom: 61px;
}

h1 {
    font-family: Poppins;
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: -2px;
    text-align: left;
    margin-top: 64px;
    width: 565px;
    height: 180px;

}

.asa {
    margin-top: 105px;
    width: 197px;
    height: 56px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: white;
    border-radius: 25px;
    border: none;
    background-color: #2BD0D0;
}

.ds {
    position: absolute;
    right: 0px;
    margin-bottom: 61px;
}

form {

    background-image: url("images/Path\ 2.svg");
}


.div {
    width: 100%;
    height: 270px;
    background-color: #543030;
    margin-top: 61px;
}

.form-content {
    width: 100%;
    height: 270px;
    background-color: #543030;
    position: relative;
}


form {
    margin: 0 auto;
    width: 1110px;
    display: flex;
    justify-content: space-between;
    padding: 52px 64px;
    background-image: url("images/Path\ 2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    position: absolute;
    left: 165px;
    right: 165px;
    top: -60px;
    margin-bottom: 10px;
}

form input {
    width: 769px;
    padding: 14px 32px;
    border-radius: 8px;
    border: none;
}

.sendBtn {
    background-color: #2BD0D0;
    width: 188px;
    padding: 18px 0;
    text-align: center;
    border-radius: 8px;
    border: none;
    color: white;
}

.ssdb {
    margin-top: 163px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
    text-align: center;

}

.form-content-btn {
    width: 197px;
    height: 60.48px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    width: 197px;
    height: 60.48px;
    background: #2BD0D0;
    border-radius: 35px;
    border: none;
    margin: 0 auto;

    margin-left: 631px;
    margin-top: 82px;
}

footer {
    padding-left: ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    height: 150px;
    padding-top: 68px;
    padding-bottom: 52px;

}

.footer-left {
    display: flex;
    align-items: center;
    margin-right: 170px;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 24px;

}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}


.fa-instagram {
    color: white;
}

.roll {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.rtt {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.25px;
    text-align: center;
    color: white;
}