.kok {
    text-align: center;
    color: rgb(0, 0, 255) ;
}
.divl {
    text-align: center;
}
.q {
    background-color:black;
    color: white;
}
.qi {
    background-color: red;
}
.y {
    background-color: green;
}
.aa {
    background-color: aqua;
}
.yil {
    background-color: red;
}
.htmll {
    
}
.q1 {
    background-color: black;
    color: white;
}