.row {
    height: 1000vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.box {
    width: 40px;
    height: 40px;
    background-color: orange;
    animation-name: round;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}



@keyframes round {
    from {
        background-color: red;
    }

    to {
        background-color: aqua;
    }

    0% {
        background-color: red;
    }

    25% {
        width: 10px;
        height: 10px;
        background-color: rgb(71, 0, 0);
        border-radius: 50%;
    }

    50% {
        background-color: rgb(255, 0, 0);

    }

    75% {
        background-color: rgb(0, 0, 0);


    }

    100% {
        width: 100px;
        height: 100PX;
        background-color: rgb(0, 0, 0);
        border-radius: 50%;
    }
}