@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    text-align: center;
    border-radius: 50px;
    background: #000000;
    box-shadow: 7px 12px 14px 0px #000000C2;
    color: #FFFFFF;
    text-shadow: 6px 5px 6.5px #FFFFFFF7;
    margin: 0 auto;
    margin-top: 126px;
    width: 879px;
    height: 127px;
    padding-top: 34px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 102px;
    margin-top: 114px;
}

p {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    text-align: center;
    margin: 0 auto;
}
img {
width: 300px;
}
span {
    position: absolute;
    right: -30px;
    top: 10px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    background-color: #FF0000;
    width: 104px;
    height: 104px;
    padding-top: 20px;
}
.box {
    text-align: center;
    position: relative;
}
